
/ros2_ws/runlog
/ros2_ws/src/central_ground_coverage_controller/build
/ros2_ws/src/decentralised_coverage_tracker/build
/ros2_ws/src/offboard_control/build
/ros2_ws/src/offboard_control/log
/ros2_ws/src/offboard_control/install
/utility_libraries/coverage_library/build
/utility_libraries/genetic_algorithm_library/.vscode
/utility_libraries/genetic_algorithm_library/build
/ros2_ws/build
/ros2_ws/install
/ros2_ws/log
/ros2_ws/pathlog
/ros2_ws/galog
/utility_libraries/genetic_algorithm_library/src/galog
